<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or meta.siteTitle }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>

	{% include 'components/nav.njk' %}

	{% include 'components/header.njk' %}

	<main>
		{{ content | safe }}
	</main>
	<footer class="background-primary">
		{# <p><a href="https://github.com/5t3ph/eleventy-rss-reader">eleventy-rss-reader</a> created by <a href="https://twitter.com/5t3ph">Stephanie  #}
	</footer>

	{# {% if link %}
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	{% endif %}
</body> #}
</html>