	{% if page.fileSlug %}
		<nav class="background-primary">
			<a href="/">{{ meta.siteTitle }}</a>
			{# <small><em>Fetching results since {{ dateLimit | dateLimitDisplay }}</em></small> #}
		</nav>
	{% endif %}