.card {
  --card-padding: 1.5rem;

  display: grid;
  gap: 1.5rem;
  grid-auto-rows: auto 1fr auto;
  align-items: start;
  padding-top: var(--card-padding);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem -0.05rem hsla(var(--color-primary-hs), 15%, 0.3);

  &-excerpt {
    gap: 0.5rem;
    grid-auto-rows: auto auto 1fr auto;

    footer {
      margin-top: 1rem;
    }
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    h3 {
      margin-top: 0.5ex;
    }
  }

  h2 {
    font-size: 1.35rem;
  }

  > *:not(footer) {
    padding-right: var(--card-padding);
    padding-left: var(--card-padding);

    a {
      text-decoration: none;
      font-size: 1.35rem;
    }
  }

  ul {
    margin: 0;
    display: grid;
    gap: 1rem;

    li {
      display: grid;
      gap: 0.25rem;
    }
  }

  footer {
    align-self: end;
    padding: 0.25em var(--card-padding);
    text-align: center;
  }
}
.card-gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42ch, 1fr));
  gap: 1rem;
  padding-bottom: 2rem;
}

.card-gallery a {
  text-decoration: none;
}

.card-gallery figure {
  --gallery-height: 15rem;
  --gallery-aspect-ratio: 16/9;

  /* reset figure default margin */
  margin: 0;
  height: var(--gallery-height);
  background-color: hsl(200, 85%, 2%);
  display: grid;
  grid-template-areas: "card";
  place-items: end;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-gallery figure > * {
  grid-area: card;
}

.card-gallery figcaption {
  transform: translateY(100%);
  transition: transform 400ms ease-in;

  /* Visual styles for the caption */
  padding: 0.25em 0.5em;
  border-radius: 4px 0 0 0;
  background-color: hsl(0 0% 100% / 87%);
}

.card-gallery figure:hover figcaption {
  transform: translateY(0);
}

.card-gallery img {
  display: block;
  width:100%;
  object-fit:cover;
  height: var(--gallery-height)
}
@supports (aspect-ratio: 1) {
  .card-gallery figure,
  .card-gallery img {
    aspect-ratio: var(--gallery-aspect-ratio);
    height: auto;
  }
}